<launch>
  <arg name="robot_ns" value="motor_2"/>
  <group ns="$(arg robot_ns)">
  <!-- -->
  <!-- definition of joints, actuators, transmissions -->
  <param name="robot_description" textfile="$(find eposx_hardware)/launch/example.urdf" />
  <!-- -->
  <!-- epos drivers and controllers -->
  <node name="epos_hardware" pkg="eposx_hardware" type="epos_hardware_node" args="test_joint_motor" output="screen">
    <rosparam command="load" file="$(find eposx_hardware)/launch/epos4_2.yaml" />
  </node>
  <!-- -->
  <!-- contoller loader (ask epos_hardware to automatically start) -->
  <node name="controller_starter" pkg="controller_manager" type="controller_manager" 
        args="spawn joint_state_controller effort_controller" output="screen"/>
  <!-- -->
  <!-- controller loader (just load and not start) -->
  <node name="controller_loader" pkg="controller_manager" type="controller_manager"
        args="load position_controller velocity_controller" output="screen"/>
  <!-- -->
  <!-- controller definitions -->
  <param name="joint_state_controller/type" value="joint_state_controller/JointStateController" />
  <param name="joint_state_controller/publish_rate" value="50" />
  <param name="position_controller/type" value="position_controllers/JointPositionController" />
  <param name="position_controller/joint" value="test_joint" />
  <param name="velocity_controller/type" value="velocity_controllers/JointVelocityController" />
  <param name="velocity_controller/joint" value="test_joint" />
  <param name="effort_controller/type" value="effort_controllers/JointEffortController" />
  <param name="effort_controller/joint" value="test_joint" />
  <!-- -->
  </group>
</launch>